@charset "UTF-8";
.join-container{
    margin: 0 auto;
    width: 500px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.form-group {
    margin-bottom: 20px;
    display: flex; /* 입력란과 버튼을 인라인으로 표시. */
    align-items: center; /* 입력 요소들을 수직 중앙 정렬. */
}

.form-group label {
    margin-right: 10px; /* 라벨과 입력 요소 사이의 간격을 설정. */
    width: 100px;
}

.form-group .form-control {
    flex: 1; /* 입력 요소와 버튼을 동일한 너비로 설정. */
}

.form-group button {
    margin-right: auto; /* 버튼을 오른쪽으로 이동. */
    width: 150px;
}