<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyupang.mapper.VisitorStatsMapper">

    <insert id="insertVisitorStats">
        INSERT INTO visitor_stats (visit_date, ip_address)
        VALUES (#{visitDate}, #{ipAddress})
    </insert>
	
</mapper>